@tailwind base;
@tailwind components;
@tailwind utilities;
@import "fonts.scss";
@import "carousel.scss";

@layer base {
  html {
    @apply font-din-pro text-white;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
  }
}


body {
  color: white;
  background: #737373;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.infinite-scroll-component__outerdiv{
  width: 100%;
}

